body {
  background: linear-gradient(coral, rebeccapurple);
  border: 10px solid white;
  min-height: 100vh;
  box-sizing: border-box;
}

.grid {

  div {

    &:nth-child(odd) {

    }
    &:nth-child(even) {

    }
  }
}

@keyframes pulse {
  to {

  }
}